.cardscategories {
  padding: 2rem 4rem 0rem;
  background: #fff;
}

.cards__item__img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  display: block;
}

.cards, .cards__item {
  border: 1px solid red;
}

.cards__item__img {
  border: 1px solid blue;
}
